.main {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 5px;
  align-items: center;
  margin-top: 3em;
}

.top_fold {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #031e3b;
  color: #f1ffe7;
  padding-bottom: 35px;
}

/* Search */

.search_bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 12px;
}

.search_bar_field,
.search_bar_button {
  height: 3em;
  border: none;
  border-radius: 5px;
  font-family: "PT Serif", sans-serif;
  font-size: 18px;
}

.search_bar_field {
  width: 70%;
  padding: 10px;
}

.search_bar_button {
  width: 100px;
  background-color: #258ea6;
  color: #f1ffe7;
}

/* Recipes */
.results_header {
  text-align: center;
}

.recipe_results {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}