.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
}

.top {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #031e3b;
  color: #f1ffe7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  margin: 10px;
  border-radius: 50%;
}

.core_info {
  margin: 10px;
  text-align: center;
}

.bottom {
  padding: 20px;
  border-radius: 10%;
  border: solid 5px #258ea6;
}