.recipe_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.recipe_image {
  border-radius: 10px;
  border: dotted 1px #258ea6;
}

.recipe_label {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  color: #031e3b;
}
